# Optional host port and metadata overrides
CSE_SC_PORT=30100
CSE_CC_PORT=30110
CSE_DASHBOARD_PORT=30103
MESHER_PORT=30101
PYTHON_PORT=9000
JAVA_PROVIDER_PORT=7001
JAVA_CONSUMER_PORT=7002
CAS_APPLICATION_NAME=demo-application
CAS_INSTANCE_VERSION=1.0.0
IMAGE_TAG=local
